.edit-page-title 
  アカウントの編集
.edit-page
  .edit-user-field
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label "ニックネーム"
        %br/
        = f.text_field :nickname, autofocus: true, autocomplete: "nickname", required: ""

      .field
        = f.label "アイコン"
        %br/
        = f.file_field :image, required: ""

      .field
        = f.label "E-mail"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", required: ""
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}

      .field
        = f.label "新しいパスワード"
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: "７文字以上・英数混合", required: ""
      .field
        = f.label "パスワードの確認"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", required: ""

      .field
        .field__check-user 本人であることを確認するため、現在のパスワードを入力してください。
        = f.password_field :current_password, autocomplete: "current-password", required: "", placeholder: "現在のパスワード"

      .actions
        = f.submit "変更する", class: "default-btn"

    .delete-field
      .delete-field__text 
        %label アカウントの削除
        %br/
        %small アカウントを削除する場合は下の’削除する’を押してください
      .delete-field__text__btn 
        #{button_to "削除する", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete, class: "default-btn"}

    = link_to mypages_user_path(current_user) do
      %button.default-btn マイページに戻る

