.app-title Review Lyric
.sign-up-field
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label "ニックネーム"
      %br/
      = f.text_field :nickname, autofocus: true, autocomplete: "nickname", required: ""
    .field
      = f.label "アイコン"
      %br/
      = f.file_field :image, required: ""
    .field
      = f.label "E-mail"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", required: ""
    .field
      = f.label "パスワード"
      %br/
      -# %small (７文字以上・英数混合)
      -# - if @minimum_password_length
      -#   %em
      -#     (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password", placeholder: "７文字以上・英数混合", class: "rg-password", required: ""
    .field
      = f.label "パスワードの確認"
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", required: ""
    .actions
      = f.submit "登録する", class: "default-btn"

    = link_to new_user_session_path do
      %button.default-btn キャンセル