.app-title お気に入り一覧
.side-body
  .side-body__user-icon
    -if current_user.image.url.present?
      = image_tag(current_user.image.url, width: 170, height: 150, class: "users-image")
    .side-body__user-icon__name
      = current_user.nickname
  = link_to top_pages_path do
    %button.default-btn__side トップページ
  = link_to  mypages_user_path(current_user) do
    %button.default-btn__side マイページ
  = link_to destroy_user_session_path do
    %button.default-btn__side ログアウト
  = link_to new_post_path do
    %button.default-btn__side 投稿する


.main-container
  .postted-lyric
    .postted-lyric__list
      - @likes.each do |l|
        %ul.postted-lyric__list__label
          .user-icon
            %li.user-icon__image
              = image_tag(l.user.image.url, width: 50, height: 50)
            %li.user-icon__name
              = l.user.nickname
          .postted-lyric__list__label__song
            %label.show-title Song:
            = l.song
            %br/
            %ul.postted-lyric__list__label__song__lyric
              %li.show-lyric 
                Lyric:
              %li
                = l.lyric
          .good-count
            = fa_icon "heart"
            = l.liked_users.count
                  

          = link_to details_post_path(l.id) do
            %button.details-btn 詳細
