= render "shared/navbar"
.list-favorit 
  .list-favorit__tag
    お気に入り一覧
.main-container
  .postted-lyric
    .postted-lyric__list
      - @likes.each do |l|
        %ul.postted-lyric__list__label
          .user-icon
            %li.user-icon__image
              = image_tag(l.user.image.url, width: 50, height: 50)
            %li.user-icon__name
              = l.user.nickname
          .postted-lyric__list__label__song
            %label.show-title Song:
            = l.song
            %br/
            %ul.postted-lyric__list__label__song__lyric
              %li.show-lyric 
                Lyric:
              %li
                = l.lyric
          .good-count
            = fa_icon "heart"
            = l.liked_users.count
                  

          = link_to details_post_path(l.id), data: { turbolinks: false } do
            %button.details-btn 詳細
= render "shared/post-btn"
