.postted-user-name
  = @user.nickname
  さんの投稿
.details-main
  .postted-details
    .created-date
      %small= @post.created_at.strftime('%Y/%m/%d %H:%M')
      %small の投稿

    %table.postted-details__info
      %th.postted-details__info__title Song
      %td.postted-details__info__title__details
        = @post.song

      %th.postted-details__info__title Singer
      %td.postted-details__info__title__details
        = @post.singer

      %th.postted-details__info__title Lyric
      %td.postted-details__info__title__details
        = @post.lyric

      %th.postted-details__info__title Comment
      %td.postted-details__info__title__details
        = @post.comment


    .good-field
      - if user_signed_in? && @post.user_id == current_user.id 
        = render "shared/good-icon"
        %br/
        = link_to post_path(@post), method: :delete do
          %button.default-btn 削除
      - else
        = render "shared/good-function"
    .back-btn
      = link_to root_path do
        %button.default-btn トップページに戻る