.postted-user-name
  - if user_signed_in? && @post.user_id == current_user.id
    あなたの投稿
  - else
    = @user.nickname
    さんの投稿
.details-main
  .postted-details
    .created-date
      %small= @post.created_at.strftime('%Y/%m/%d %H:%M')
      %small の投稿

    %table.postted-details__info
      %th.postted-details__info__title Song
      %td.postted-details__info__title__details
        = @post.song

      %th.postted-details__info__title Singer
      %td.postted-details__info__title__details
        = @post.singer

      %th.postted-details__info__title Lyric
      %td.postted-details__info__title__details
        = @post.lyric

      %th.postted-details__info__title Comment
      %td.postted-details__info__title__details
        = @post.comment

    .postted-under
      %ul.postted-under__label
        - if user_signed_in? && @post.user_id == current_user.id 
          %li
            -# = link_to post_path(@post), method: :delete do
            -#   %button.delete-post 削除
            #{button_to "削除", post_path(@post), data: { confirm: "本当によろしいですか？" }, method: :delete, class: "delete-post"}
        - else
          = render "shared/good-function"
      
      .talks-container
        .talks-container__show
          - @talks.each do |f|
            %ul.talks-container__show__box
              %li.talks-container__show__box__name
                = f.user.nickname
              %li.talks-container__show__box__name__message
                = f.body
        .talks-container__show__box__name__message__field
          = form_for [@post, @talk] do |t|
            = t.text_field :body, class: "input-default", required: "", placeholder: "コメントを送信しましょう！"
            = t.submit "送信", class: "send-btn"
      .back-btn
        = link_to root_path do
          %button.default-btn トップページに戻る