.postted-user-name
  - if user_signed_in? && @post.user_id == current_user.id
    あなたの投稿
  - else
    = @user.nickname
    さんの投稿
.details-main
  .postted-details
    .created-date
      %small= @post.created_at.strftime('%Y/%m/%d %H:%M')
      %small の投稿

    %table.postted-details__info
      %th.postted-details__info__title Song
      %td.postted-details__info__title__details
        = @post.song

      %th.postted-details__info__title Singer
      %td.postted-details__info__title__details
        = @post.singer

      %th.postted-details__info__title Lyric
      %td.postted-details__info__title__details
        .postted-details__info__title__details__text
          = @post.lyric

      %th.postted-details__info__title Comment
      %td.postted-details__info__title__details
        .postted-details__info__title__details__text
          = @post.comment

    .talks-container
      .talks-container__show
        - @talks.each do |f|
          .talks-label
            .talks-label__icon{ id: "user_#{f.user_id}"}
              = image_tag(f.user.image.url, width: 50, height: 50)
              = f.user.nickname
            .talks-label__icon__message
              .talks-label__icon__message__says
                = f.body
      .talks-container__show__field
        = form_with(model: [@post, @talk], local: true, id: "new_comment")  do |t|
          = t.text_field :body, class: "input-default", required: "", placeholder: "コメントを送信しましょう！"
          = t.submit "送信", class: "send-btn"

    .postted-under
      .postted-under__label
        - if user_signed_in? && @post.user_id == current_user.id 
          %ul.detail-page-buttons
            %li.detail-page-buttons__btn
              = link_to edit_post_path do
                %button.detail-page-btn 編集
            %li.detail-page-buttons__btn
              = link_to :back do
                %button.detail-page-btn 戻る

        - else
          %ul.detail-page-buttons
            %li.detail-page-buttons__btn{ id: "post_#{@post.id}" }
              = render "shared/good-function", post: @post
            %li.detail-page-buttons__btn
              = link_to :back do
                %button.detail-page-btn 戻る
      

