.posts-info
  投稿する歌詞の情報を入力てください
.new-main
  .post-field
    = form_for @post do |f|
      = render "layouts/error-message"
      .field-post
        = f.label "Song"
        %br/
        = f.text_field :song, placeholder: "歌の名前を入力", class: "field-post__input",required: ""
      .field-post
        = f.label "singer"
        %br/
        = f.text_field :singer, placeholder: "歌手名を入力", class: "field-post__input",required: ""
      .field-post
        = f.label "lyric"
        %br/
        = f.text_area :lyric, placeholder: "あなたが気に入っている歌詞を入力してください(200文字以内)", maxlength: "200", row: "7", class: "field-post__input__text",required: ""
      .field-post
        = f.label "comment"
        %br/
        = f.text_area :comment, placeholder: "歌を初めて聴いた時の思い出など自身のエピソードを書きましょう！(200文字以内)", maxlength: "200", row: "7",class: "field-post__input__text",required: ""
      .button-field
        %button.edit-page-btn{type: "submit"} 変更する
    
        =button_to "キャンセル", "#",class: "edit-page-btn", onclick: "history.back(); return false;"

        #{button_to "削除", post_path(@post), data: { confirm: "本当によろしいですか？" }, method: :delete, class: "edit-page-btn"}